<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
        <string>新浪（NASDAQ：SINA），http://www.sina.com.cn/是一家网络公司的名称，以服务大中华地区与海外华人为己任，新浪拥有多家地区性网站，通过旗下五大业务主线为用户提供网络服务，网下的北京#新浪#、香港新浪、台北新浪、北美新浪等覆盖#全球华人#  社区的全球最大中文门户网站，2012年11月新浪注册用户已突破4亿。</string>
		<key>name</key>
		<string>新浪</string>
        <key>time</key>
        <string>1分钟</string>
	</dict>
	<dict>
		<key>text</key>
		<string>奥利奥原味</string>
		<key>name</key>
		<string>百度</string>
        <key>time</key>
        <string>3分钟</string>
	</dict>
	<dict>
		<key>text</key>
        <string>历经磨难，#青蛙王子#终于跳上餐桌，希望公主能给他一个吻。公主一见到他，满心欢喜，吧唧着嘴说：「哇塞，好肥的田鸡啊！」</string>
		<key>name</key>
		<string>阿里巴巴</string>
        <key>time</key>
        <string>6分钟</string>
	</dict>
	<dict>
		<key>text</key>
        <string>会告诉弹弹娘光是我就#安利#了不少小伙伴吗[1f644][1f644][1f644]</string>
		<key>name</key>
		<string>腾讯</string>
        <key>time</key>
        <string>11分钟</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[1f644][1f644][1f644][1f644][1f45c][1f45c][1f644][1f644][1f644][1f6ac][1f644][1f644][1f644][1f644][1f644][1f644][1f644][1f644][1f644][1f34e][1f644][1f644][1f644][1f644][1f644][1f644]</string>
		<key>name</key>
		<string>CCTV</string>
        <key>time</key>
        <string>13分钟</string>
	</dict>
	<dict>
		<key>text</key>
		<string> ╮(╯_╰)╭ 留个名http://www.baidu.com</string>
		<key>name</key>
		<string>搜狐视频</string>
        <key>time</key>
        <string>14分钟</string>
	</dict>
	<dict>
		<key>text</key>
		<string>去买祭品，居然看到有纸糊的苹果手机。http://www.sina.com.cn/就问:啊哈，这里还有苹果5S啊？老祖宗会用吗？老板白了我一眼说:乔布斯都亲自下去教了，你还操什么心。我买了一个刚转身要走，老板提醒:再买个手机套吧！下面蛮潮湿的。我说好，接着老板又说再买个蓝牙耳机吧，最近下面出了新交规，开车接电话查的严。我又买个蓝牙耳机，老板继续善意提醒:最重要的还要买充电器啊！回头你祖宗找你要就不好了，光找你要是小事，让你送过去就麻烦了。我又买个充电器，然后和老板要名片。老板问:要我名片干嘛？我说烧给祖宗啊！万一出了质量问题我好让我祖宗来找你。</string>
		<key>name</key>
		<string>暴走漫画</string>
        <key>time</key>
        <string>16分钟</string>
	</dict>
	<dict>
		<key>text</key>
		<string>妖怪，吃俺老孙一棒！</string>
		<key>name</key>
		<string>第一弹</string>
        <key>time</key>
        <string>19分钟</string>
	</dict>
	<dict>
		<key>text</key>
		<string>怎么办啊，，，谁会修手机，我下载了个滑动解锁软件，解不开锁，，，我手机不是触屏的啊。。。。。</string>
		<key>name</key>
		<string>鹏哥好帅</string>
        <key>time</key>
        <string>30分钟</string>
	</dict>
	<dict>
		<key>text</key>
		<string>完全豁出去的广告</string>
		<key>name</key>
		<string>去你大爷</string>
        <key>time</key>
        <string>50分钟</string>
	</dict>
	<dict>
		<key>text</key>
		<string>顶顶弹弹娘[1f644]</string>
		<key>name</key>
		<string>从0到1</string>
        <key>time</key>
        <string>55分钟</string>
	</dict>
	<dict>
		<key>text</key>
		<string>http://www.sina.com 我妹小学三年级，只陪我看了小埋，GJ部，稻荷恋之歌和进击的巨人。。。。。。

她表示过只想看守护甜心，不过因为各种原因没能如愿。。。</string>
		<key>name</key>
		<string>创业维艰</string>
        <key>time</key>
        <string>1小时</string>
	</dict>
</array>
</plist>
